body{
    margin: 0;
    background-color: rgb(182, 182, 248);
}
.harea{
    width: 100%;
    height: 100px;
}
.logo{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 1px;
    border-color: black;
    border-style: solid;
    margin-left: 50%;
    margin-top: 10px;
}
.carea{
    width: 100%;
    height: 500px;
    margin: 0;
    display: flex;    
}
.menubuttons{
    width: 60px;
    height: 320px;
    background-color: rgb(28, 20, 102);
    margin-left: 10px;
    border-radius: 25px;
    float: left;
    /* margin-top: 10px; */
}
.btns{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 25px;
    border-color: aqua;
    float: left;
}
.dp{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    align-items: center;
    margin-left: 500px;
}
.skname{
    width: 100%;
    margin-top: 100px;
    margin-left: 100px;
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
}
.h1txt{
    align-items: center;
    margin-left: 75px;
    font-size: 100px;
}
.h2txt{
    margin-top: 0;
    align-items: center;
    margin-left: 200px;
    font-size: 50px;
}
.farea{
    width: 100%;
    height: 100px;
}
.tel{
    width: 25px;
    height: 25px;
    margin: 20px;
    margin-left: 45.5%;
    float: left;
}
.eml{
    width: 25px;
    height: 25px;
    float: left;
    margin: 20px;
}
.twit{
    width: 25px;
    height: 25px;
    float: left;
    margin: 20px;
}
.linkd{
    width: 25px;
    height: 25px;
    margin: 20px;
}
